// Define variables for your color scheme

// For example:
$red: #FF0033;
$blue: #33CCFF;
$yellow: #FFFF66;
$orange: #FF6633;
$green: #00FF7F;
$gray: #3E3D3D;
$light-yellow: #FEFFA9;
$light-gray: #F4F4F4;
